.profile-card {
  padding: 10px;
  max-width: 600px;
  background: rgba(250, 250, 250, 1);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.profile-social {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.profile-review-avatar {
  top: 10px;
  width: 100%;
  position: sticky;
}
.review-card{
  max-width: 600px;
}

.review-content {
  box-shadow: 4px 0px 4px rgba(0, 0, 0, 0.29), 0px 4px 4px rgba(0, 0, 0, 0.25);
  height: auto;
  max-width: 80%;
  min-width: 520px;
  background: rgba(250, 250, 250, 1);
}
/* RATING BAR */ /* RATING BAR */ /* RATING BAR */ /* RATING BAR */ /* RATING BAR */ /* RATING BAR */ /* RATING BAR */ /* RATING BAR */ /* RATING BAR */ /* RATING BAR */ /* RATING BAR */
.profile-rating {
  padding: 20px;
  width: 100%;
  background: rgba(250, 250, 250, 1);
  margin-top: 5px;
}
.profile-rating-bar {
  margin: 0 10px;
  width: 90%;
  height: 13px;
  border-radius: 3px;
  background: rgba(0, 0, 0, 0.1);
}
.profile-rating-bar-status {
  border-radius: 3px 0 0 3px ;
  width: 50%;
  height: 100%;
  background: #49a8d8;
}

