.left-side-content a {
    color:rgba(255,255,255,0.8);
    text-decoration:none;
}
.left-side-content a:hover{
    color: rgba(255,255,255,1);
    text-decoration: none;
}
.left-side-container {
    height: 100%;
    width: 275px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.left-side-content {
    height: 100%;
    width: 275px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    position: fixed;
}
.logo {
    margin: 10px;
}

.side-bar-item {
    margin: 10px;
}
.side-bar-icon path{
    fill:rgba(255,255,255, 0.8)
}
.hover:hover path{
    fill: rgba(255,255,255, 1);
}
.active path{
    fill: rgba(255,255,255, 1);
}
.side-bar-title {
    padding-top: 2px;
    font-size: 19px;
    margin-left: 20px;
    margin-right: 15px;
    line-height: 1.3125;
}


@media screen and (max-width: 1265px) {
    header {
        flex-grow: 0;
    }
    .logo {
        display: none;
    }
    .side-bar-title {
        display: none;
    }
    .left-side-container {
        width: 88px;
    }
    .left-side-content {
        width: 88px;
    }
}